# This is just a beginner's guide and get to know about pandas.

In [2]:
import pandas as pd

# Creating series with help of list

In [5]:
sr1 = pd.Series([1,2,3,4,5])
sr1

0    1
1    2
2    3
3    4
4    5
dtype: int64

Using different functions on series

In [6]:
max(sr1)

5

Slicing the series

In [7]:
sr1[:3]

0    1
1    2
2    3
dtype: int64

In [9]:
sr1[3:]

3    4
4    5
dtype: int64

In [16]:
sr1[4] = 33

In [17]:
sr1

0     1
1     2
2    33
3     4
4    33
dtype: int64

In [18]:
sr1

0     1
1     2
2    33
3     4
4    33
dtype: int64

In [23]:
sr1 = pd.Series([1,2,3,4,5],dtype=float)

In [24]:
sr1

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [26]:
sr3 = sr1 + sr1

In [27]:
sr4 = sr3*2

In [28]:
sr3

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
dtype: float64

In [29]:
sr4

0     4.0
1     8.0
2    12.0
3    16.0
4    20.0
dtype: float64

In [35]:
sr5 = sr4 * sr3
sr5

0      8.0
1     32.0
2     72.0
3    128.0
4    200.0
dtype: float64

In [43]:
sr6 = pd.Series([21,34,21,41,50,72,45],dtype=complex,name="Marks")
sr6

0    21.000000+0.000000j
1    34.000000+0.000000j
2    21.000000+0.000000j
3    41.000000+0.000000j
4    50.000000+0.000000j
5    72.000000+0.000000j
6    45.000000+0.000000j
Name: Marks, dtype: complex128

In [46]:
sr6 = pd.Series([21,34,21,41,50,72,45],index=['a','b','c','d','e','f','g'],dtype=complex,name="Marks")
sr6

a    21.000000+0.000000j
b    34.000000+0.000000j
c    21.000000+0.000000j
d    41.000000+0.000000j
e    50.000000+0.000000j
f    72.000000+0.000000j
g    45.000000+0.000000j
Name: Marks, dtype: complex128